/**
    Primary color: #B07030
    Primary dark: #7D4F22
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    background: #ffffff;
    color: #1b1b1b;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.col {
    margin: 0;
}


/* ----------------------------------------- */
/* HEADINGS */
/* ----------------------------------------- */
h1 {
    font-size: 180%;
    color: #414040;
    margin-bottom: 40px;
}

h2 {
    font-size: 150%;
    font-weight: 300;
    margin-bottom: 20px;
}

h3 {
    font-weight: 300;
}

/* ----------------------------------------- */
/* SECTIONS */
/* ----------------------------------------- */

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* ----------------------------------------- */
/* PARAGRAPHS */
/* ----------------------------------------- */
p {
    color: #424242;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 10px;
}

section p:last-child {
    margin-bottom: 0;
}

/* ----------------------------------------- */
/* BUTTONS */
/* ----------------------------------------- */
.btn,
.btn:link,
.btn:visited {
    text-transform: none;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border-radius: 200px;
    border: none;
    transition: background-color 0.2s, border-color 0.2s;
}

.btn-primary {
    background-color: #B07030;
}

.btn-primary:hover {
    background-color: #7D4F22;
}

.social-media-links {
    list-style: none;
    margin-bottom: 15px;
}

.social-media-links li {
    display: inline;
    margin-right: 15px;
}

.social-media-links li:last-of-type {
    margin-right: 0;
}

.social-media-links li a {
    font-size: 200%;
    color: #e4e4e4;
}

/* ----------------------------------------- */
/* FOOTER */
/* ----------------------------------------- */
footer {
    background-color: #333333;
    padding: 60px 0;
}

footer p {
    color: #bebebe;
    font-size: 90%;
}

footer .social-media-links {
    text-align: right;
    margin-bottom: 0;
}

footer .social-media-links a {
    font-size: 120%;
}

/* ----------------------------------------- */
/* COMMON NAVBAR ACROSS ALL PAGES */
/* ----------------------------------------- */
.nav-container {
    padding: 20px 0;
}

.nav-container:after {
    display: block;
    height: 0.2px;
    background-color: #cfcfcf;
    content: " ";
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.nav-container h2 {
    font-size: 140%;
    font-weight: 400;
    color: #424242;
    display: inline-block;
    margin: 0 0;
    text-transform: uppercase;
}

.nav-container h2 a:link,
.nav-container h2 a:visited {
    text-decoration: none;
    color: #252525;
}

.nav-container ul {
    float: right;
    list-style: none;
    padding: 5px 0;
}

.nav-container ul li {
    display: inline;
    margin-right: 30px;
}

.nav-container ul li a:link,
.nav-container ul li a:visited {
    text-decoration: none;
    color: #424242;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 90%;
}

.nav-container ul li a:hover {
    color: #B07030;
}

.nav-container .blog-nav-item:link,
.nav-container .blog-nav-item:visited {
    color: #B07030;
}

.nav-container .blog-nav-item:hover {
    color: #7D4F22;
}